<form ng-submit="vm.addItem()">
    <table class="form-table">
        <tbody>
        <tr>
            <td>Eesnimi:</td>
            <td><input type="text" id="name-input" ng-trim="true" ng-model="vm.person.name" placeholder="Eesnime" required/></td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td><input type="text" id="phone-input" ng-model="vm.person.phone" placeholder="Telefonnumber"/></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" id="save-link" value="Sisesta" ng-disabled="vm.$invalid"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>