<form>
    <table class="form-table">
        <tbody>
        <tr>
            <td>Eesnimi:</td>
            <td><input type="text" id="name-input" [(ngModel)]="person.name" name="person.name"/></td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td><input type="text" id="phone-input" [(ngModel)]="person.phone" name="person.phone"/></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button type="button" id="save-link" (click)="addNewContact()">Salvesta</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>