<input id="search-string" [(ngModel)]="query">
<br/><br/>
<table class="list-table">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Telefon</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr [ngClass]="{selected : contact.selected}" *ngFor="let contact of contacts | search : 'name,phone':query">
        <td>
            <a href="#/new/{{contact._id}}" class="edit-link">{{contact.name}}</a>
        </td>
        <td>
            {{contact.phone}}
        </td>
        <td>
            <button (click)="deleteContact(contact._id)" class="delete-link">Kustuta</button>
        </td>
        <td>
            <input type="checkbox" [(ngModel)]="contact.selected"/>
        </td>
    </tr>
    </tbody>
    <button id="delete-all-link" (click)="deleteContactSelected()">Kustuta kõik</button>
</table>
<br/><br/>